# Nix
result*
# macOS
.DS_Store

# Rust build artifacts
target/
**/target/

# Build artifacts from `cargo check` and incremental compilation
/.cargo/

# RustRover (JetBrains IDE)
.idea/
*.iml
*.ipr
*.iws

# Zed (Editor)
.zed/

# Windows system files
Thumbs.db
desktop.ini

# Linux system files
*~

# Logs and temp files
*.log
*.tmp
*.swp
*.swo
*.bak

_gsdata_
*.out
